h2 {
  color: #ff0101;
  font-size: 32px;
  text-align: center;
  margin-top: 50px;
  text-shadow: 2px 2px 5px rgb(102, 85, 85);
}
input[type='text'] {
  border: 2px solid #ff69b4;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  margin: 10px;
  box-shadow: 2px 2px 5px #000;
}
button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  text-shadow: 2px 2px 5px #000;
  box-shadow: 2px 2px 5px #000;
}
select {
  border: 2px solid #ff0000;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  margin: 10px;
  box-shadow: 2px 2px 5px #000;
  background-color: #fff;
  color: #ff69b4;
  text-align-last: center;
  width: 100%;
}
p {
  margin: 20px auto;
  width: 60%;
  text-align: center;
  font-size: 18px;
  text-shadow: 2px 2px 5px #000;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #000;
  background-color: #fff;
  padding: 20px;
}
